@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-12">
        @(Html.Kendo().Grid<Firm.ImmigrationMatters.Models.Matter>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.name);
                columns.Bound(p => p.practiceArea);
                columns.Bound(p => p._natureOfMatter);
                columns.Bound(p => p._matteraolcode);
                columns.Bound(p => p._practiceUnit);
            })
            .Pageable()
            .Sortable()
            .Scrollable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Read(read => read.Action("GetMatters", "Home"))
            )
        )
    </div>
</div>
